* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

/* Navbar-Start */

/* Navbar-start */
.header_wrapper .nav-item .btn {
    text-transform: none;
    padding: 6px 7px;
}

.header_wrapper .form_wrapper {
    position: absolute;
    top: 10%;
    right: 1%;
}

.header_wrapper .navli .form-select {
    margin-top: 13px;
}

.header_wrapper .navli {
    float: right;
    padding-right: 3px;
}

.header_wrapper nav ul li {
    list-style: none;
}



.header_wrapper .form-select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #737373;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 20px;
    background-size: 14px 10px;
    background-position: right .3rem center;
}

.form-select:focus {
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}

/* Navbar-end */

/* Banner-start */
.banner .img-fluid {
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50vh;
    z-index: 1;
    background: linear-gradient(to bottom, #000, transparent);
}

.banner::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    z-index: 1;
    background: linear-gradient(to top, #000, transparent);
}

/* Banner-end */
/*  */
.row .head h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.row-in input {
    height: 55px;
    width: 100%;
}

.container .row-in button {
    height: 55px;
    width: 100%;
}



.container-fluid .row .btn {
    text-transform: none;
    font-size: 20px;
}

.banner .bann {
    position: absolute;
    top: 25%;
    color: #fff;
    z-index: 5;
}



/*  */

/* card */
.card {

    height: 100%;
    width: 100%;
    background-color: #000;
    border-radius: 0px;
}

.card hr {
    height: 5px;
    color: aliceblue;
}

.card-body {
    color: #fff;

}

.card .right-col {
    overflow: hidden;
    position: relative;
}

.card .right-col img {
    position: absolute;
    width: 100%;
}

.card .right-col .video-1 {
    margin-left: 12%;
    margin-top: 15%;
    width: 80%;
}

.card .right-col .video-2 {
    margin-left: 17%;
    margin-top: 5%;
    width: 65%;
}

/* FaQs */

.faq_wrapper {
    background: #000;
}

.faq_wrapper .faq_title {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 5px;
    color: #fff;
    padding-top: 20px;
}

.faq_wrapper .accordion-button:hover .faq_wrapper .accordion-button:focus {
    box-shadow: none;
    padding-top: 5px;
    border: none;

}

.faq_wrapper .accordion-body {
    margin-top: -10px;
    color: #fff;
    background: #303030;
    font-size: 18px;
}

.faq_wrapper .accordion-button {
    font-size: 22px;
    font-weight: 400;
    background: #303030;
    color: #fff;
    padding: 15px 10px !important;
    margin: 10px 0;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq_wrapper .accordion-item {
    border: none;
}

.faq_wrapper .accordion-button:not(.collapsed) {
    background-color: #303030;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    color: #fff;
}

.faq_wrapper .accordion-button::after {
    content: '\002B';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    background-image: none;
}

.faq_wrapper .accordion-button:not(.collapsed)::after {
    content: '\2212';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    background-image: none;
    transform: unset;
}

.faq_wrapper .row .btn {
    text-transform: none;
    font-size: 20px;
}


/* FaQs-end */
/* Footer-start */
.footer_wrapper {
    height: 40vh;
    background-color: transparent;
    margin-top: 20px;
}

.footer_row {

    font-size: 13px;
    padding: 5px 0;
}

.footer_row a {
    color: #737373;
    text-decoration: none;
}

.footer_row a:hover {
    text-decoration: underline;
}

.col-sm-2 {
    width: 24.6667%;
}

.nav-item {
    list-style: none;
    margin-top: 1rem;
}

.dropdown-toggle {
    color: #737373;
    border: 2px solid #737373;
    display: inline-block;
    pad: .15rem .25rem;
}

.nav-link:hover {
    color: #737373;
}

.footer_navbar ul {
    padding-inline-start: 0;
}

.footer_navbar .form-select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #737373;
}

/* Footer-end */